@import url('./variables.css'); /* Importar las variables */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  line-height: 1.6;
}

.app-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.app-content {
  flex-grow: 1;
}

/* Base de la aplicación */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: var(--color-text-main);
  font-weight: 600;
}

/* Botones genéricos */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: var(--color-success);
}